# Entornos conda locales
envs/
.conda/

# Variables de entorno reales (nunca a Git)
.env

# Datos crudos (se regeneran con extract.py)
data/raw/

# Datos procesados — GitHub Actions los commitea con git add -f
# así que los excluimos aquí pero el workflow los añade explícitamente
data/processed/

# Base de datos local
data/*.duckdb
data/*.duckdb.wal

# Logs
logs/*.log

# Python
__pycache__/
*.pyc
*.pyo
.DS_Storedownload_and_process_asg.py